.title {
  font-size: 30px;
}
.all-products-container {
  display: grid;
  grid-template-columns: auto auto auto;
  .single-product {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 8px lightgray;
    .product-title {
      font-size: 25px;
    }
  }
}
.items-center {
  text-align: center;
}
.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  border: 0;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}
.btn-yellow {
  color: white;
  background-color: orangered;
}
