<!-- product.component.html -->
<h3 class="title">All Meals</h3>
<div class="all-products-container">
  <ng-container *ngFor="let product of products">
    <div class="single-product">
      <div class="items-center">
        <img [src]="product.strCategoryThumb" alt="product-img" />
      </div>
      <div class="d-flex-between">
        <h5 class="product-title">{{ product.strCategory }}</h5>
        <button
          class="btn btn-yellow"
          *ngIf="!isInCart(product)"
          (click)="addToCart(product)"
        >
          Add To Cart
        </button>
        <button
          class="btn btn-red"
          *ngIf="isInCart(product)"
          (click)="removeFromCart(product)"
        >
          Remove From Cart
        </button>
      </div>
    </div>
  </ng-container>
</div>


