.cart-container {
  margin: 105px 10px;
  position: fixed;
  box-shadow: 0 0 8px lightgray;
  width: 100%;
  padding: 10px;
  right: 0;
  left: 80%;
}
@media (max-width: 1024px) {
  .cart-container {
    margin: 105px 10px;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px lightgray;
    width: 100%;
    padding: 10px;
    top: -50px;
  }
}
