@import '../products/products.component.scss';
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.cart {
  padding: 30px;
  width: 50%;
  box-shadow: 0 0 8px lightgray;
}
.single-cart-item {
  background: rgb(121, 226, 121);
  padding: 12px 20px;
  color: black;
  font-weight: 700;
  border-radius: 7px;
  margin: 10px 0;
  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}
